ul.list-group
  li.list-group-item
    a(
      href="https://petstore.swagger.io/?url=https://filebump.services.mobilon.ru/api",
      target="_new"
    ) Swagger File API

h4 Крон задания
table.table.table-bordered(cron-job-table, width="100%")
  thead
    th name
    th description
  tbody
    th
    th
